@charset "utf-8";

ul{list-style:none;padding-left:0px;}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: NEXON Lv1 Gothic OTF Light, sans-serif;;
    font-size: 15px;
}


.nav-menu {
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    color: white;
    background-color: #09496B;
    width: 100%;
}



/*.nav-menu a {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    !*position: relative;*!*/
/*    padding: 6px 12px*/
/*}*/
.logo_img {
    width: auto; height: auto; max-width: 70%; max-height: 70%;
    padding-right: 150px;
}
/*.fa {padding-top: 10px; color: white; margin-left:800px;}*/

/*.nav-menu a::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: 0;*/
/*    height: 4px;*/
/*    background: #ffffff;*/
/*    transition: all .5s ease-out;*/
/*}*/

/*.nav-menu a:hover::after {*/
/*    width: 100%;*/
/*}*/

.sub_menu {
    float: right;
    color: white;
}

.comment {
    font-weight: bold;
    color: blue;
}

.posting-box {
    margin: 10px auto 30px auto;
    width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px;
}
.btn { margin: 13px 27px 30px;}

.bttn{
    display: flex;
    position: absolute;
    background-color: white;
    bottom: 20px;
    right: -1px;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}



blockquote, q {

	quotes: none;

}



blockquote : before, blockquote : after, q : before, q : after {
	content: '';
	content: none;

}



table {

	border-collapse: collapse;

	border-spacing: 0;

}

/*css 초기화*/



.card {
	height: 400px;
	width: 350px;
	border-radius: 15px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;

}



.card-header {
	-webkit-transition: 0.5s; /*사파리 & 크롬*/
    -moz-transition: 0.5s;  /*파이어폭스*/
    -ms-transition: 0.5s;	/*인터넷 익스플로러*/
    -o-transition: 0.5s;  /*오페라*/
    transition: 0.5s;
	width: 100%;
	height: 270px;
	border-radius: 15px 15px 0 0;
	background-size: 100% 280px;
	background-repeat: no-repeat;
}


.card:hover .card-header  {
	opacity: 0.8;
	height: 100px;

}



.card-header-is_closed{
    background-color: #EF5A31 ;
    color: #FFF ;
    font-weight: bold ;
    text-align: center ;
    float: right;
    margin: 15px 15px 0 0;
    border-radius: 50%;
    font-weight: bold;
    padding: 10px 10px;
    line-height: 20px;

}



h1 {
    font-size: 23px;
    font-weight: bolder;
    color: black;
}


.card-body {

}
.card-header-text {
    font-size: 13px;
}


.card-body-header{
	line-height: 25px;
	margin: -8px 20px 0px 20px;
}


.card-body-description  {
    opacity: 0;
    color: #757B82;
    line-height: 25px;
    -webkit-transition: .2s ease-in-out; /*사파리&크롬*/
    -moz-transition: .2s ease-in-out; /*파이어폭스*/
    -ms-transition: .2s ease-in-out; /*익스플로러*/
    -o-transition: .2s ease-in-out; /*오페라*/
    transition : .2s ease-in-out;
    overflow: hidden;
	height: 180px;
	margin: 5px 20px;
}


.card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition : .5s ease-in-out;
    overflow: scroll;
}


.card-body-hashtag {
	color: #2478FF;
	font-style: italic;
}

.card-body-footer {
  	position: absolute;
  	margin-top: 15px;
  	margin-bottom: 6px;
    bottom: 0;
    width: 314px;
    font-size: 14px;
    color: #9FA5A8;
    padding: 0 15px;
}

.reg_date {
	float: right;
}

.cards-box{
    margin: auto;
    width: 1200px;
}

.form-group {
    margin-top: 10px;
}

.card-img-top{
        height: 250px;
    }